In [212]:
class Manufacturer:
    def __init__(self, maker, car_name, cost):
        self.maker = maker
        self.car_name = car_name
        self.cost = cost
        self.list_of_cars_searched = []
    
    def __str__(self):
        return f"Car Manufacturer is {self.maker}"
    
    def __repr__(self):
        return f"Car manufacturer is {self.maker} and Car model name is {self.car_name}"

    def __add__(self, other):
        return Manufacturer(self.maker+":"+other.maker,self.car_name+":"+other.car_name,self.cost + other.cost)
    
    def __eq__(self, other):
        return self.car_name == other.car_name
    
    def do_search(self):
        self.list_of_cars_searched.append(self.car_name)

    def __len__(self):
        return(len(self.list_of_cars_searched))

In [213]:
car = Manufacturer("Tata", "Nexon", 900000)

In [214]:
str(car)

'Car Manufacturer is Tata'

In [215]:
car

Car manufacturer is Tata and Car model name is Nexon

In [216]:
repr(car)

'Car manufacturer is Tata and Car model name is Nexon'

In [217]:
car1 = Manufacturer("Suziki", "Celerio", 700000)

In [218]:
c = car + car1

In [219]:
str(c)

'Car Manufacturer is Tata:Suziki'

In [220]:
c

Car manufacturer is Tata:Suziki and Car model name is Nexon:Celerio

In [221]:
c.cost

1600000

In [222]:
print(isinstance(1, int))

True

In [223]:
print(isinstance(1, str))

False

In [224]:
car == car1

False

In [225]:
car2 = Manufacturer("Tata", "Nexon", 900000)

In [226]:
car == car2

True

In [227]:
len(car)

0

In [228]:
car.do_search()

In [229]:
car3 = Manufacturer("Hyundai", "i20", 900000)

In [230]:
car3

Car manufacturer is Hyundai and Car model name is i20

In [231]:
car3.do_search()

In [232]:
car3.list_of_cars_searched

['i20']

In [233]:
print(car3.list_of_cars_searched)

['i20']

In [4]:
class GettersAndSettersExample:
    def __init__(self, amount):
        self.__balance = amount
    
    @property
    def balance(self):
        print("This is from a Getter property 'balance'")
        return self.__balance
    
    @balance.setter
    def balance(self, value):
        print("This is from a Setter property")
        self.__balance = value

In [5]:
a = GettersAndSettersExample(1000)

In [6]:
a.balance

This is from a Getter property 'balance'

1000

In [7]:
a.balance = 2000

This is from a Setter property

In [8]:
a.balance

This is from a Getter property 'balance'

2000

In [10]:
a._GettersAndSettersExample__balance

2000

In [25]:
class Account:
    def __init__(self, amount):
        self.__balance = amount
    
    def get_balance(self):
        return self.__balance
    
    def change_balance(self, value):
        print("Changing the balance value from the normal function")
        self.__balance = value

In [26]:
a = Account(6000)

In [27]:
a.get_balance()

6000

In [28]:
a.change_balance(4000)

Changing the balance value from the normal function

In [ ]:
a.get_balance()

4000

In [1]:
students = {"sharmila" : "batch_1",
            "abhishek" : "batch_2",
            "tanmay": "batch_1",
            "nitin": "batch_2",
            "raj" : "batch_2"}

def check_batch_1(student):
    return student[1] == "batch_1"

In [2]:
list(filter(check_batch_1, students.items()))

[('sharmila', 'batch_1'), ('tanmay', 'batch_1')]

In [3]:
print(students)

{'sharmila': 'batch_1', 'abhishek': 'batch_2', 'tanmay': 'batch_1', 'nitin': 'batch_2', 'raj': 'batch_2'}

In [ ]:
print(students.items())

dict_items([('sharmila', 'batch_1'), ('abhishek', 'batch_2'), ('tanmay', 'batch_1'), ('nitin', 'batch_2'), ('raj', 'batch_2')])

In [12]:
a = students.items()
print(type(a))
print(students.keys())

<class 'dict_items'>
dict_keys(['sharmila', 'abhishek', 'tanmay', 'nitin', 'raj'])

In [7]:
print(list(students.items()))

[('sharmila', 'batch_1'), ('abhishek', 'batch_2'), ('tanmay', 'batch_1'), ('nitin', 'batch_2'), ('raj', 'batch_2')]

In [13]:
a = list()
b = []

c = [1,2,3]
a.append(1)
a.append(2)
a.remove(1)

In [14]:
a

[2]

In [15]:
c

[1, 2, 3]

In [16]:
c[0]

1

In [18]:
a=set()
a.add(1)
a.add(2)

In [19]:
a

{1, 2}

In [20]:
a.remove(2)

In [21]:
a

{1}

In [22]:
a={}
print(type(a))

<class 'dict'>

In [23]:
a.update({"a":1})

In [24]:
a

{'a': 1}

In [26]:
a.update({"b":2})

In [27]:
a

{'a': 1, 'b': 2}

In [28]:
a.update({"a":2})

In [29]:
a

{'a': 2, 'b': 2}

In [32]:
a.setdefault("c",3)

3

In [33]:
a

{'a': 2, 'b': 2, 'c': 3}

In [34]:
a=()
print(type(a))

<class 'tuple'>

In [35]:
a[0]

IndexError: tuple index out of range

In [36]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

In [40]:
a=(3,1)

In [41]:
print(a[0])

3

In [42]:
a[0]

3

In [45]:
a[1]

1

In [46]:
a.get(0)

AttributeError: 'tuple' object has no attribute 'get'

In [47]:
a=[1,2]

In [48]:
a.get(1)

AttributeError: 'list' object has no attribute 'get'

In [50]:
[num for num in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
[num for num in range(1,11) if num%2==0]

[2, 4, 6, 8, 10]

In [54]:
[True if num%2==0 else False for num in range(1,11)]

[False, True, False, True, False, True, False, True, False, True]

In [56]:
{num:(num*num) for num in range(1,11) }

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [57]:
students = {
    'Pavan':'UDS2.0',
    'Kumar':'UDS1.0',
    'Kohli':'UDS'
}

In [60]:
{name:batch for name,batch in students.items() if batch == 'UDS2.0'}

{'Pavan': 'UDS2.0'}

In [65]:
{name:(batch if batch == 'UDS2.0' else 'UDS') for name,batch in students.items()}

{'Pavan': 'UDS2.0', 'Kumar': 'UDS', 'Kohli': 'UDS'}